
<div class="row schedule">
	<div class="col-12">
		<div class="schedule-area row fadeInDown" data-wow-delay="0.3s">
			<div class="schedule-tab-content col-12 clearfix">
				<div id="accordion">
					<div class="card">
						<div id="headingOne">
							<div class="schedule-slot-time">
								<span> 9.30 - 10.30 AM</span>
								Workshop
							</div>
							<div class="card-header {{ '' if cards_opened else 'collapsed' }}" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<i class="opener-chevron lni-chevron-right"></i>
								<div class="images-box">
									<img class="img-fluid" src="/assets/egd_site/images/speakers/person-small.jpg" alt="">
								</div>
								<h4>Web Design Principles and Best Practices</h4>
								<h5 class="name">David Warner</h5>
							</div>
						</div>
						<div id="collapseOne" class="collapse {{ 'show' if cards_opened else '' }}" aria-labelledby="headingOne" data-parent="#accordion">
							<div class="card-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet minima dolores rerum maiores qui at commodi quas, reprehenderit eius consectetur quae magni molestias veniam, provident illum facere iure libero asperiores! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam earum nihil ex ipsa magni eligendi fugiat assumenda suscipit, accusantium, necessitatibus reiciendis odit sed, vero amet blanditiis?</p>
								<div class="location">
								<span>Location:</span> Hall 1 , Building A, Golden Street, Southafrica
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div id="headingTwo">
							<div class="schedule-slot-time">
								<span> 10.30 - 11.30 AM</span>
								Workshop
							</div>
							<div class="card-header {{ '' if cards_opened else 'collapsed' }}" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<i class="opener-chevron lni-chevron-right"></i>
								<div class="images-box">
									<img class="img-fluid" src="/assets/egd_site/images/speakers/person-small.jpg" alt="">
								</div>
								<h4>15 Free Productive Design Tools</h4>
								<h5 class="name">David Warner</h5>
							</div>
						</div>
						<div id="collapseTwo" class="collapse {{ 'show' if cards_opened else '' }}" aria-labelledby="headingTwo" data-parent="#accordion">
							<div class="card-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet minima dolores rerum maiores qui at commodi quas, reprehenderit eius consectetur quae magni molestias veniam, provident illum facere iure libero asperiores! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam earum nihil ex ipsa magni eligendi fugiat assumenda suscipit, accusantium, necessitatibus reiciendis odit sed, vero amet blanditiis?</p>
								<div class="location">
									<span>Location:</span> Hall 1 , Building A, Golden Street, Southafrica
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div id="headingThree">
							<div class="schedule-slot-time">
								<span> 11.30 - 12.30 AM</span>
								Workshop
							</div>
							<div class="card-header {{ '' if cards_opened else 'collapsed' }}" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<i class="opener-chevron lni-chevron-right"></i>
								<div class="images-box">
									<img class="img-fluid" src="/assets/egd_site/images/speakers/person-small.jpg" alt="">
								</div>
								<h4>Getting Started With SketchApp</h4>
								<h5 class="name">David Warner</h5>
							</div>
						</div>
						<div id="collapseThree" class="collapse {{ 'show' if cards_opened else '' }}" aria-labelledby="headingThree" data-parent="#accordion">
							<div class="card-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet minima dolores rerum maiores qui at commodi quas, reprehenderit eius consectetur quae magni molestias veniam, provident illum facere iure libero asperiores! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam earum nihil ex ipsa magni eligendi fugiat assumenda suscipit, accusantium, necessitatibus reiciendis odit sed, vero amet blanditiis?</p>
								<div class="location">
									<span>Location:</span> Hall 1 , Building A, Golden Street, Southafrica
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
