
#about {
	.about-content {
		height: 100%;
		display: table;
		> div{
			vertical-align: middle;
			display: table-cell;
		}
		.about-text{
			h2{
				font-size: 40px;
				font-weight: 700;
			}
			h6{
				font-size: 18px;
				line-height: 32px;
				font-weight: 400;
				margin-top: 20px;
			}
			p{
				margin-top: 20px;
				margin-bottom: 20px;
			}
		}
		ul{
			margin-bottom: -8px;
			li{
				list-style: none;
				line-height: 30px;
				position: relative;
				padding-left: 35px;
				i{
					position: absolute;
					left: 0;
					top: 7px;
					font-size: 16px;
					color: $preset;
				}
			}
		}
		.btn-about{
			margin-top: 30px;
			.btn{
				margin-right: 10px;
			}
		}
	}
}

#sponsors {
	.section-title {
		color: $color-primary;
	}
	.sponsors-logo{
		a {
			img {
				max-height: 70px;
				max-width: 300px;
				margin: 15px;
				padding: 10px;
				border-radius: 5px;
				&.w-200 {
					max-width: 200px;
				}
				&.h-85 {
					max-height: 85px;
				}
			}
		}
	}
}
