
<div class="row schedule">
	<div class="col-12">
		<div class="schedule-area row fadeInDown" data-wow-delay="0.3s">
			<div class="schedule-tab-content col-12 clearfix">
				<div id="accordion">

					<div class="card">
						<div data-target="#collapse-1" aria-controls="collapse-1" class="card-header-b {{ '' if cards_opened else 'collapsed' }}" data-toggle="collapse" aria-expanded="false">
							<div class="container">
								<div class="row">
									<div class="time col-12 col-md-2">6:45 - 7:00 p.m. CET</div>
									<div class="faces col-3 col-md-2 d-none d-md-block">
										<div class="w-50 float-left">
											<img class="img-fluid rounded-circle" 
												src="/assets/egd_site/images/speakers/s.schwiecker.jpg" alt="">
										</div>
										<div class="w-50 float-left">
											<img class="img-fluid rounded-circle" 
												src="/assets/egd_site/images/speakers/siobhan.jpg" alt="">
										</div>
									</div>
									<div class="text col-12 col-md-8">
										<h4>An introduction to effective giving</h4>
										<p><strong>Sebastian Schwiecker</strong> & <strong>Siobhan Brenton</strong></p>
										<i class="opener-chevron-b lni-chevron-right"></i>
									</div>
								</div>
							</div>
						</div>
						<div aria-labelledby="heading-1" id="collapse-1" class="collapse {{ 'show' if cards_opened else '' }}" data-parent="#accordion">
							<div class="card-body">
								<p><strong>Hosts</strong>: Sebastian Schwiecker & Siobhan Brenton</p>
								<div class="location">
									<a href="https://time.is/0645PM_30_Nov_2020_in_CET?Effective_Giving_Day"
									target="_blank">6:45 - 7:00 p.m. CET (see in your local time)</a>
								</div>
							</div>
						</div>
					</div>


					<div class="card">
						<div data-target="#collapse-2" aria-controls="collapse-2" class="card-header-b {{ '' if cards_opened else 'collapsed' }}" data-toggle="collapse" aria-expanded="false">
							<div class="container">
								<div class="row">
									<div class="time col-12 col-md-2">7:00 - 7:20 p.m. CET</div>
									<div class="faces col-3 col-md-2 d-none d-md-block">
										<img class="img-fluid rounded-circle" 
											src="/assets/egd_site/images/speakers/j.ackva.jpg" alt="">
									</div>
									<div class="text col-12 col-md-8">
										<h4>The ABC of High Impact Climate Philanthropy and where to give now</h4>
										<p><strong>Johannes Ackva</strong>, Climate Lead, Founders Pledge</p>
										<p>Climate change is a perplexing and huge problem that leaves many of us 
											hopeless about our own ability to make a meaningful difference. 
											In this talk, Johannes, Climate Lead at Founders Pledge, will explain 
											the principles enabling high-impact climate giving for individuals, 
											introduce new climate recommendations, and elaborate how the US elections 
											and COVID-19 play into optimal giving choices around climate.</p>
										<i class="opener-chevron-b lni-chevron-right"></i>
									</div>
								</div>
							</div>
						</div>
						<div aria-labelledby="heading-2" id="collapse-2" class="collapse {{ 'show' if cards_opened else '' }}" data-parent="#accordion">
							<div class="card-body">
								<p><strong>Speaker</strong>: Johannes Ackva, Climate Lead, Founders Pledge</p>
								<p><strong>Host</strong>: Sebastian Schienle</p>
								<div class="location">
									<a href="https://time.is/0700PM_30_Nov_2020_in_CET?Effective_Giving_Day"
									target="_blank">7:00 - 7:20 p.m. CET (see in your local time)</a>
								</div>
							</div>
						</div>
					</div>


					<div class="card">
						<div data-target="#collapse-3" aria-controls="collapse-3" class="card-header-b {{ '' if cards_opened else 'collapsed' }}" data-toggle="collapse" aria-expanded="false">
							<div class="container">
								<div class="row">
									<div class="time col-12 col-md-2">7:20 - 7:40 p.m. CET</div>
									<div class="faces col-3 col-md-2 d-none d-md-block">
										<img class="img-fluid rounded-circle" 
											src="/assets/egd_site/images/speakers/l.edgerton.jpg" alt="">
									</div>
									<div class="text col-12 col-md-8">
										<h4>Animal welfare: Our recommendations for the giving season</h4>
										<p><strong>Leah Edgerton</strong>, Executive Director Animal Charity Evaluators</p>
										<i class="opener-chevron-b lni-chevron-right"></i>
									</div>
								</div>
							</div>
						</div>
						<div aria-labelledby="heading-3" id="collapse-3" class="collapse {{ 'show' if cards_opened else '' }}" data-parent="#accordion">
							<div class="card-body">
								<p class="mb-4">With so many animals suffering around the globe, how can I as a 
									donor make a big impact for animals? In this talk, Leah shares Animal Charity Evaluators'
									methods for evaluating organizations and presents their brand new 2020 charity recommendations.</p>
								<p><strong>Speaker</strong>: Leah Edgerton, Executive Director Animal Charity Evaluators</p>
								<p><strong>Host</strong>: Katja Jäger, Betterplace Lab</p>
								<div class="location">
									<a href="https://time.is/0720PM_30_Nov_2020_in_CET?Effective_Giving_Day"
									target="_blank">7:20 - 7:40 p.m. CET (see in your local time)</a>
								</div>
							</div>
						</div>
					</div>


					<div class="card">
						<div data-target="#collapse-4" aria-controls="collapse-4" class="card-header-b {{ '' if cards_opened else 'collapsed' }}" data-toggle="collapse" aria-expanded="false">
							<div class="container">
								<div class="row">
									<div class="time col-12 col-md-2">7:40 - 8:00 p.m. CET</div>
									<div class="faces col-3 col-md-2 d-none d-md-block">
										<img class="img-fluid rounded-circle" 
											src="/assets/egd_site/images/speakers/n.buddy.shah.jpg" alt="">
									</div>
									<div class="text col-12 col-md-8">
										<h4>Global Health and development: The top effective charities for 2020</h4>
										<p><strong>Neil Buddy Shah</strong>, Managing Director, GiveWell</p>
										<i class="opener-chevron-b lni-chevron-right"></i>
									</div>
								</div>
							</div>
						</div>
						<div aria-labelledby="heading-4" id="collapse-4" class="collapse {{ 'show' if cards_opened else '' }}" data-parent="#accordion">
							<div class="card-body">
								<!-- TODO: <p class="mb-4">???. pending text Pablo Melcho 10:53 AM Today I am actually waiting for GiveWell's confirmarion. Will chase right away</p> -->
								<p><strong>Speaker</strong>: Neil Buddy Shah, Managing Director, GiveWell</p>
								<p><strong>Host</strong>: Pablo Melchor</p>
								<div class="location">
									<a href="https://time.is/0740PM_30_Nov_2020_in_CET?Effective_Giving_Day"
									target="_blank">7:40 - 8:00 p.m. CET (see in your local time)</a>
								</div>
							</div>
						</div>
					</div>


					<div class="card">
						<div data-target="#collapse-5" aria-controls="collapse-5" class="card-header-b {{ '' if cards_opened else 'collapsed' }}" data-toggle="collapse" aria-expanded="false">
							<div class="container">
								<div class="row">
									<div class="time col-12 col-md-2">8:00 - 8:30 p.m. CET</div>
									<div class="faces col-3 col-md-2 d-none d-md-block">
										<img class="img-fluid rounded-circle" 
											src="/assets/egd_site/images/speakers/kremer.jpg" alt="">
									</div>
									<div class="text col-12 col-md-8">
										<h4>Keynote speaker: Nobel Prize winner Professor Michael Kremer</h4>
										<p><strong>Michael Kremer</strong>, University Professor in Economics and 
											the College and the Harris School of Public Policy, Director of the 
											Development Innovation Lab, University of Chicago</p>
										<i class="opener-chevron-b lni-chevron-right"></i>
									</div>
								</div>
							</div>
						</div>
						<div aria-labelledby="heading-5" id="collapse-5" class="collapse {{ 'show' if cards_opened else '' }}" data-parent="#accordion">
							<div class="card-body">
								<p>Professor Michael Kremer is one of the world’s most influential development economists.
									Prof. Kremer pioneered the use of randomised control trials to measure the impact of
									interventions and identify practical solutions which can benefit low-income people in 
									developing countries. He has produced some of the most influential research in the field, 
									notably a 20-year study showing the lasting positive effects of school-based deworming 
									programmes, the development of new approaches to water treatment, and a series of studies 
									showing how digitally delivered agricultural advice can cost-effectively improve 
									outcomes for smallholder farmers.</p>
								<p class="mb-4">Prof. Kremer joins us to discuss his career to date, including his 2019 Nobel Prize in Economics. 
									He will also participate in a Q&A.</p>
								<p><strong>Speaker</strong>: Michael Kremer, University Professor in Economics and the College and the Harris School of Public Policy, Director of the Development Innovation Lab, University of Chicago</p>
								<p><strong>Host</strong>: Jack Lewars</p>
								<div class="location">
									<a href="https://time.is/0800PM_30_Nov_2020_in_CET?Effective_Giving_Day"
									target="_blank">8:00 - 8:30 p.m. CET (see in your local time)</a>
								</div>
							</div>
						</div>
					</div>


					<div class="card">
						<div data-target="#collapse-6" aria-controls="collapse-6" class="card-header-b {{ '' if cards_opened else 'collapsed' }}" data-toggle="collapse" aria-expanded="false">
							<div class="container">
								<div class="row">
									<div class="time col-12 col-md-2">8:30 - 8:40 p.m. CET</div>
									<div class="faces col-3 col-md-2 d-none d-md-block">
										<img class="img-fluid rounded-circle" 
											src="/assets/egd_site/images/speakers/c.bresler.jpg" alt="">
									</div>
									<div class="text col-12 col-md-8">
										<h4>How you can make a difference today</h4>
										<p><strong>Charlie Bresler</strong>, Executive Director, The Life You Can Safe</p>
										<i class="opener-chevron-b lni-chevron-right"></i>
									</div>
								</div>
							</div>
						</div>
						<div aria-labelledby="heading-6" id="collapse-6" class="collapse {{ 'show' if cards_opened else '' }}" data-parent="#accordion">
							<div class="card-body">
								<p class="mb-4">Prof. Kremer joins us to discuss his career to date, including his 2019 Nobel Prize in Economics. 
									He will also participate in a Q&A.</p>
								<p><strong>Speaker</strong>: Charlie Bresler, Executive Director, The Life You Can Safe</p>
								<div class="location">
									<a href="https://time.is/0830PM_30_Nov_2020_in_CET?Effective_Giving_Day"
									target="_blank">8:30 - 8:40 p.m. CET (see in your local time)</a>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>
