
<div class="row schedule">
	<div class="col-12">
		<div class="schedule-area row fadeInDown" data-wow-delay="0.3s">
			<div class="schedule-tab-content col-12 clearfix">
				<div id="accordion">

					<div class="card">
						<div id="heading-1">
							<div class="schedule-slot-time">
								<span>6:45 - 7:00 p.m. CET</span>
							</div>
							<div data-target="#collapse-1" aria-controls="collapse-1" class="card-header {{ '' if cards_opened else 'collapsed' }}" data-toggle="collapse" aria-expanded="false">
								<i class="opener-chevron lni-chevron-right"></i>
								{#<!-- <div class="images-box">
									<img class="img-fluid" src="/assets/egd_site/images/speakers/p.melchor.jpg" alt="">
								</div> -->#}
								<h4>Introduction</h4>
								<h5 class="name">Sebastian Schwiecker & Siobhan Brenton</h5>
							</div>
						</div>
						<div aria-labelledby="heading-1" id="collapse-1" class="collapse {{ 'show' if cards_opened else '' }}" data-parent="#accordion">
							<div class="card-body">
								<p><strong>Hosts</strong>: Sebastian Schwiecker & Siobhan Brenton</p>
								<div class="location">
									<a href="https://time.is/0645PM_30_Nov_2020_in_CET?Effective_Giving_Day"
									target="_blank">6:45 - 7:00 p.m. CET (see in your local time)</a>
								</div>
							</div>
						</div>
					</div>


					<div class="card">
						<div id="heading-2">
							<div class="schedule-slot-time">
								<span>7:00 - 7:20 p.m. CET</span>
							</div>
							<div data-target="#collapse-2" aria-controls="collapse-2" class="card-header {{ '' if cards_opened else 'collapsed' }}" data-toggle="collapse" aria-expanded="false">
								<i class="opener-chevron lni-chevron-right"></i>
								<div class="images-box">
									<img class="img-fluid" src="/assets/egd_site/images/speakers/j.ackva.jpg" alt="">
								</div>
								<h4>Climate Change</h4>
								<h5 class="name"><strong>Johannes Ackva</strong>, Climate Lead, Founders Pledge</h5>
							</div>
						</div>
						<div aria-labelledby="heading-2" id="collapse-2" class="collapse {{ 'show' if cards_opened else '' }}" data-parent="#accordion">
							<div class="card-body">
								<p><strong>Speaker</strong>: Johannes Ackva, Climate Lead, Founders Pledge</p>
								<p><strong>Host</strong>: Sebastian Schienle</p>
								<div class="location">
									<a href="https://time.is/0700PM_30_Nov_2020_in_CET?Effective_Giving_Day"
									target="_blank">7:00 - 7:20 p.m. CET (see in your local time)</a>
								</div>
							</div>
						</div>
					</div>


					<div class="card">
						<div id="heading-3">
							<div class="schedule-slot-time">
								<span>7:20 - 7:40 p.m. CET</span>
							</div>
							<div data-target="#collapse-3" aria-controls="collapse-3" class="card-header {{ '' if cards_opened else 'collapsed' }}" data-toggle="collapse" aria-expanded="false">
								<i class="opener-chevron lni-chevron-right"></i>
								<div class="images-box">
									<img class="img-fluid" src="/assets/egd_site/images/speakers/l.edgerton.jpg" alt="">
								</div>
								<h4>Animal welfare: Our recommendations for the giving season</h4>
								<h5 class="name"><strong>Leah Edgerton</strong>, Executive Director Animal Charity Evaluators</h5>
							</div>
						</div>
						<div aria-labelledby="heading-3" id="collapse-3" class="collapse {{ 'show' if cards_opened else '' }}" data-parent="#accordion">
							<div class="card-body">
								<p><strong>Speaker</strong>: Leah Edgerton, Executive Director Animal Charity Evaluators</p>
								<p><strong>Host</strong>: Katja Jäger, Betterplace Lab</p>
								<p>With so many animals suffering around the globe, how can I as a 
									donor make a big impact for animals? In this talk, Leah shares Animal Charity Evaluators'
									methods for evaluating organizations and presents their brand new 2020 charity recommendations.</p>
								<div class="location">
									<a href="https://time.is/0720PM_30_Nov_2020_in_CET?Effective_Giving_Day"
									target="_blank">7:20 - 7:40 p.m. CET (see in your local time)</a>
								</div>
							</div>
						</div>
					</div>




					<!-- <div class="card">
						<div id="heading-2">
							<div class="schedule-slot-time">
								<span>7:00 - 7:20 p.m.</span>
								CET, Nov 2020
							</div>
							<div data-target="#collapse-2" aria-controls="collapse-2" class="card-header {{ '' if cards_opened else 'collapsed' }}" data-toggle="collapse" aria-expanded="false">
								<i class="opener-chevron lni-chevron-right"></i>
								<div class="images-box">
									<img class="img-fluid" src="/assets/egd_site/images/speakers/p.melchor.jpg" alt="">
								</div>
								<h4>Climate Change</h4>
								<h5 class="name">Keynote speaker: Nobel Prize winner Professor Michael Kremer</h5>
							</div>
						</div>
						<div aria-labelledby="heading-2" id="collapse-2" class="collapse {{ 'show' if cards_opened else '' }}" data-parent="#accordion">
							<div class="card-body">
								<p>Professor Michael Kremer is one of the world’s most influential 
									development economists. Prof. Kremer pioneered the use of randomised control 
									trials to find out what actually works in poverty alleviation. 
									He has produced some of the most influential research in the field, 
									most notably a 20-year study showing the lasting positive effects of 
									deworming programmes on income and wellbeing.</p>
								<p>Prof. Kremer joins us to discuss his career to date, including his 2019 
									Nobel Prize in Economics. He will also participate in a Q&A.</p>
								<div class="location">
									<span>Youtube:</span> https://streaming.url
								</div>
							</div>
						</div>
					</div> -->

				</div>
			</div>
		</div>
	</div>
</div>
