
<div class="row schedule">
	<div class="col-12">
		<div class="schedule-area row fadeInDown" data-wow-delay="0.3s">
			<div class="schedule-tab-content col-12 clearfix">
				<div id="accordion">

					<div class="card">
						<div data-target="#collapse-1" aria-controls="collapse-1" class="card-header-b {{ '' if cards_opened else 'collapsed' }}" data-toggle="collapse" aria-expanded="false">
							<div class="container">
								<div class="row">
									<div class="time col-12 col-md-2">6:45 - 7:00 p.m. CET</div>
									<div class="faces col-3 col-md-2 d-none d-md-block">
										<div class="w-50 float-left">
											<img class="img-fluid rounded-circle" 
												src="/assets/egd_site/images/speakers/s.schwiecker.jpg" alt="">
										</div>
										<div class="w-50 float-left">
											<img class="img-fluid rounded-circle" 
												src="/assets/egd_site/images/speakers/siobhan.jpg" alt="">
										</div>
									</div>
									<div class="text col-12 col-md-8">
										<h4>{{ _('agenda:1:title') }}</h4>
										<p>{{ _('agenda:1:intro') }}</p>
										<i class="opener-chevron-b lni-chevron-right"></i>
									</div>
								</div>
							</div>
						</div>
						<div aria-labelledby="heading-1" id="collapse-1" class="collapse {{ 'show' if cards_opened else '' }}" data-parent="#accordion">
							<div class="card-body">
								<p>{{ _('agenda:1:hosts') }}</p>
								<div class="location">
									6:45 - 7:00 p.m. CET (<a href="https://time.is/0645PM_30_Nov_2020_in_CET?Effective_Giving_Day"
									target="_blank">{{ _('agenda:see_into_your_local_time') }}</a>)
								</div>
							</div>
						</div>
					</div>


					<div class="card">
						<div data-target="#collapse-2" aria-controls="collapse-2" class="card-header-b {{ '' if cards_opened else 'collapsed' }}" data-toggle="collapse" aria-expanded="false">
							<div class="container">
								<div class="row">
									<div class="time col-12 col-md-2">7:00 - 7:20 p.m. CET</div>
									<div class="faces col-3 col-md-2 d-none d-md-block">
										<img class="img-fluid rounded-circle" 
											src="/assets/egd_site/images/speakers/j.ackva.jpg" alt="">
									</div>
									<div class="text col-12 col-md-8">
										<h4>{{ _('agenda:2:title') }}</h4>
										<p>{{ _('agenda:2:intro') }}</p>
										<i class="opener-chevron-b lni-chevron-right"></i>
									</div>
								</div>
							</div>
						</div>
						<div aria-labelledby="heading-2" id="collapse-2" class="collapse {{ 'show' if cards_opened else '' }}" data-parent="#accordion">
							<div class="card-body">
								<p class="mb-4">{{ _('agenda:2:description') }}</p>
								<p>{{ _('agenda:2:speakers') }}</p>
								<p>{{ _('agenda:2:hosts') }}</p>
								<div class="location">
									7:00 - 7:20 p.m. CET (<a href="https://time.is/0700PM_30_Nov_2020_in_CET?Effective_Giving_Day"
									target="_blank">{{ _('agenda:see_into_your_local_time') }}</a>)
								</div>
							</div>
						</div>
					</div>


					<div class="card">
						<div data-target="#collapse-3" aria-controls="collapse-3" class="card-header-b {{ '' if cards_opened else 'collapsed' }}" data-toggle="collapse" aria-expanded="false">
							<div class="container">
								<div class="row">
									<div class="time col-12 col-md-2">7:20 - 7:40 p.m. CET</div>
									<div class="faces col-3 col-md-2 d-none d-md-block">
										<img class="img-fluid rounded-circle" 
											src="/assets/egd_site/images/speakers/l.edgerton.jpg" alt="">
									</div>
									<div class="text col-12 col-md-8">
										<h4>{{ _('agenda:3:title') }}</h4>
										<p>{{ _('agenda:3:intro') }}</p>
										<i class="opener-chevron-b lni-chevron-right"></i>
									</div>
								</div>
							</div>
						</div>
						<div aria-labelledby="heading-3" id="collapse-3" class="collapse {{ 'show' if cards_opened else '' }}" data-parent="#accordion">
							<div class="card-body">
								<p class="mb-4">{{ _('agenda:3:description') }}</p>
								<p>{{ _('agenda:3:speakers') }}</p>
								<p>{{ _('agenda:3:hosts') }}</p>
								<div class="location">
									7:20 - 7:40 p.m. CET (<a href="https://time.is/0720PM_30_Nov_2020_in_CET?Effective_Giving_Day"
									target="_blank">{{ _('agenda:see_into_your_local_time') }}</a>)
								</div>
							</div>
						</div>
					</div>


					<div class="card">
						<div data-target="#collapse-4" aria-controls="collapse-4" class="card-header-b {{ '' if cards_opened else 'collapsed' }}" data-toggle="collapse" aria-expanded="false">
							<div class="container">
								<div class="row">
									<div class="time col-12 col-md-2">7:40 - 8:00 p.m. CET</div>
									<div class="faces col-3 col-md-2 d-none d-md-block">
										<img class="img-fluid rounded-circle" 
											src="/assets/egd_site/images/speakers/n.buddy.shah.jpg" alt="">
									</div>
									<div class="text col-12 col-md-8">
										<h4>{{ _('agenda:4:title') }}</h4>
										<p>{{ _('agenda:4:intro') }}</p>
										<i class="opener-chevron-b lni-chevron-right"></i>
									</div>
								</div>
							</div>
						</div>
						<div aria-labelledby="heading-4" id="collapse-4" class="collapse {{ 'show' if cards_opened else '' }}" data-parent="#accordion">
							<div class="card-body">
								<p class="mb-4">{{ _('agenda:4:description') }}</p>
								<p>{{ _('agenda:4:speakers') }}</p>
								<p>{{ _('agenda:4:hosts') }}</p>
								<div class="location">
									7:40 - 8:00 p.m. CET (<a href="https://time.is/0740PM_30_Nov_2020_in_CET?Effective_Giving_Day"
									target="_blank">{{ _('agenda:see_into_your_local_time') }}</a>)
								</div>
							</div>
						</div>
					</div>


					<div class="card">
						<div data-target="#collapse-5" aria-controls="collapse-5" class="card-header-b {{ '' if cards_opened else 'collapsed' }}" data-toggle="collapse" aria-expanded="false">
							<div class="container">
								<div class="row">
									<div class="time col-12 col-md-2">8:00 - 8:30 p.m. CET</div>
									<div class="faces col-3 col-md-2 d-none d-md-block">
										<img class="img-fluid rounded-circle" 
											src="/assets/egd_site/images/speakers/kremer.jpg" alt="">
									</div>
									<div class="text col-12 col-md-8">
										<h4>{{ _('agenda:5:title') }}</h4>
										<p>{{ _('agenda:5:intro') }}</p>
										<i class="opener-chevron-b lni-chevron-right"></i>
									</div>
								</div>
							</div>
						</div>
						<div aria-labelledby="heading-5" id="collapse-5" class="collapse {{ 'show' if cards_opened else '' }}" data-parent="#accordion">
							<div class="card-body">
								<p>{{ _('agenda:5:description-1') }}</p>
								<p class="mb-4">{{ _('agenda:5:description-2') }}</p>
								<p>{{ _('agenda:5:speakers') }}</p>
								<p>{{ _('agenda:5:hosts') }}</p>
								<div class="location">
									8:00 - 8:30 p.m. CET (<a href="https://time.is/0800PM_30_Nov_2020_in_CET?Effective_Giving_Day"
									target="_blank">{{ _('agenda:see_into_your_local_time') }}</a>)
								</div>
							</div>
						</div>
					</div>


					<div class="card">
						<div data-target="#collapse-6" aria-controls="collapse-6" class="card-header-b {{ '' if cards_opened else 'collapsed' }}" data-toggle="collapse" aria-expanded="false">
							<div class="container">
								<div class="row">
									<div class="time col-12 col-md-2">8:30 - 8:40 p.m. CET</div>
									<div class="faces col-3 col-md-2 d-none d-md-block">
										<img class="img-fluid rounded-circle" 
											src="/assets/egd_site/images/speakers/c.bresler.jpg" alt="">
									</div>
									<div class="text col-12 col-md-8">
										<h4>{{ _('agenda:6:title') }}</h4>
										<p>{{ _('agenda:6:intro') }}</p>
										<i class="opener-chevron-b lni-chevron-right"></i>
									</div>
								</div>
							</div>
						</div>
						<div aria-labelledby="heading-6" id="collapse-6" class="collapse {{ 'show' if cards_opened else '' }}" data-parent="#accordion">
							<div class="card-body">
								{#<!-- TODO: pending description for Charlie Bresler agenda -->
								<!-- <p class="mb-4">{{ _('agenda:6:description') }}</p> -->#}
								<p>{{ _('agenda:6:speakers') }}</p>
								<div class="location">
									8:30 - 8:40 p.m. CET (<a href="https://time.is/0830PM_30_Nov_2020_in_CET?Effective_Giving_Day"
									target="_blank">{{ _('agenda:see_into_your_local_time') }}</a>)
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>
