
<div class="container-form wow fadeInLeft" data-wow-delay="0.2s">
	<div class="form-wrapper form-contact">
		<form class="bs-validation" novalidate>
			<input type="hidden" name="press" value="{{ 1 if press_form else 0 }}">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<input type="text" class="form-control" name="fullname" placeholder="{{ _('form:full_name') }} *" required>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<input type="email" class="form-control" name="email" placeholder="{{ _('form:email') }} *" pattern="^.+@.+\..+$" required>
					</div> 
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<select class="custom-select select-countries" name="country" required>
							<option selected disabled value="">{{ _('contact:form:select_your_country') }} *</option>
						</select>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" name="subject" placeholder="{{ _('form:subject') }} *" required>
					</div>
					<div class="form-group">
						<textarea class="form-control" rows="4" name="message" placeholder="{{ _('form:message') }} *" required></textarea>
					</div>
					<div class="form-group">
						<!-- TODO: Do contact/press legal text multilanguage -->
						<div class="legal-read-more-container mb-4">
							<div class="legal-read-more-text legal-text">
								<p>The personal data provided through this contact form will be treated
									by the corresponding organization according to the country of origin 
									of the consultation.</p> 
								<p>Thus, the entity that will treat your data according to your country of 
									choice will be the corresponding one:</p>
								<ul class="list-group mb-3">
									<li class="list-group-item">
										<strong>Germany, Austria, Switzerland</strong>: 
										UES - Gemeinnützige Unternehmergesellschaft (limited liability)
										for effective donations, Afrikanische Straße 118, 13351 Berlin<br>
										info @ effektiv-spenden.org<br>
										<a target="_blank" href="https://www.effektiv-spenden.org/datenschutzhinweise/">
											https://www.effektiv-spenden.org/datenschutzhinweise/
										</a>
									</li>
									<li class="list-group-item">
										<strong>Australia</strong>:
										GIVING WHAT WE CAN is part of the CENTRE FOR EFFECTIVE ALTRUISM. 
										CENTRE FOR EFFECTIVE ALTRUISM, registered charity in England and Wales 
										(Charity Number 1149828). Like most charities, we operate through a company 
										limited by guarantee, the registration number of which is 07962181. 
										Our registered office is at Suite 2 Littlegate House, 16-17 St. Ebbes Street, 
										Oxford, Oxfordshire, OX1 1PT<br>
										info @ centreforeffectivealtruism.org<br>
										<a target="_blank" href="https://www.centreforeffectivealtruism.org/privacy-policy">
											https://www.centreforeffectivealtruism.org/privacy-policy
										</a>
									</li>
									<li class="list-group-item">
										<strong>Canada, United Kingdom, USA</strong>:
										ONE FOR THE WORLD, non-profit 501(c)(3) organization, EIN: 84-2124550. 
										ONE FOR THE WORLD INC, 50 Milk Street 15th floor, Boston, MA, 02109, United States<br>
										info@1fortheworld.org<br>
										<a target="_blank" href="https://www.1fortheworld.org/privacy-policy">
											https://www.1fortheworld.org/privacy-policy
										</a>
									</li>
									<li class="list-group-item">
										<strong>Norway</strong>:
										EFFICIENT ALTRUISM NORWAY, Company No. 919809140, Greenhouse Oslo, 
										Schweigaards gate 34C, 0191 Oslo<br>
										personvern@effektivaltruisme.no<br>
										<a target="_blank" href="https://effektivaltruisme.no/privacypolicy">
											https://effektivaltruisme.no/privacypolicy
										</a>
									</li>
									<li class="list-group-item">
										<strong>Spain and rest of the world</strong>:
										FUNDACIÓN AYUDA EFECTIVA, Calle Rozabella, 6 (Centro Europa Empresarial), 
										Edificio París, planta 0, oficina 13, 28290 Las Rozas, Madrid<br>
										info @ ayudaefectiva.org<br>
										<a target="_blank" href="https://ayudaefectiva.org/politica-de-privacidad">
											https://ayudaefectiva.org/politica-de-privacidad
										</a>
									</li>
								</ul>
								<p>The data will be processed for this purpose for the time necessary to 
									resolve your request. They will then be blocked and kept for the period 
									of time legally required to deal with any liabilities arising from the 
									processing. The legal basis that legitimizes this treatment is your 
									consent expressed at the time of sending us your request for contact.</p>
								<p>At any time you can revoke your consent and exercise your rights of access, 
									rectification, deletion, opposition, limitation or portability through the 
									corresponding address according to the organization of the country that 
									corresponds to you, identifying yourself as a user of effectivegivingday.org, 
									specifying your request. If you consider that your right to data protection 
									has been violated, you may file a complaint with the corresponding 
									Control Authority according to the country selected to receive information.</p> 
							</div>
							<a class="legal-read-more-open" href="#">Read more...</a>
						</div>
						<div class="custom-control custom-checkbox">
							<input class="custom-control-input" type="checkbox" name="accepted" id="form-conditions" required>
							<label class="custom-control-label" for="form-conditions">
								I have read and accept the treatment of my personal data *
							</label>
						</div>
					</div>
					<div class="form-submit">
						<button type="submit" class="btn btn-common w-100">{{ _('contact:form:submit') }}</button>
					</div>
				</div>
			</div>
		</form>
		<div class="alert alert-success hide">{{ _('contact:form:submitted_successfully_message') }}</div>
	</div>
</div>
