
<div class="container-form wow fadeInLeft" data-wow-delay="0.2s">
	<div class="form-wrapper form-contact">
		<form class="bs-validation" novalidate>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<input type="text" class="form-control" name="fullname" placeholder="{{ _('Full name') }}" required>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<input type="email" class="form-control" name="email" placeholder="{{ _('Email') }}" pattern="^.+@.+\..+$" required>
					</div> 
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<select class="custom-select select-countries" name="country" required>
							<option selected disabled value="">{{ _('Select your country') }}</option>
						</select>
					</div>
					<div class="form-group">
						<input type="tel" class="form-control" name="subject" placeholder="{{ _('Subject') }}" required>
					</div>
					<div class="form-group">
						<textarea class="form-control" rows="4" name="message" placeholder="{{ _('Message') }}" required></textarea>
					</div>
					<div class="form-group">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="form-conditions" required>
							<label class="form-check-label" for="form-conditions">
								{{ _('I have read and agree with the Privacy statement') }}:
								<a href="{{ url_lang }}/privacy" target="_blank">{{ _('Privacy') }}</a>
							</label>
						</div>
					</div>
					<div class="form-submit">
						<button type="submit" class="btn btn-common w-100">{{ _('Send Message') }}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
