
<div class="container-form wow fadeInLeft" data-wow-delay="0.2s">
	<div class="form-wrapper form-contact">
		<form class="bs-validation" novalidate>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<input type="text" class="form-control" name="fullname" placeholder="{{ _('form:full_name') }}" required>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<input type="email" class="form-control" name="email" placeholder="{{ _('form:email') }}" pattern="^.+@.+\..+$" required>
					</div> 
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<select class="custom-select select-countries" name="country" required>
							<option selected disabled value="">{{ _('form:select_your_country') }}</option>
						</select>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" name="subject" placeholder="{{ _('form:subject') }}" required>
					</div>
					<div class="form-group">
						<textarea class="form-control" rows="4" name="message" placeholder="{{ _('form:message') }}" required></textarea>
					</div>
					<div class="form-group">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="accepted" id="form-conditions" required>
							<label class="form-check-label" for="form-conditions">
								{{ _('form:i_have_read_and_agree') }}:
								<a href="{{ url_lang }}/privacy" target="_blank">{{ _('link:privacy') }}</a>
							</label>
						</div>
					</div>
					<div class="form-submit">
						<button type="submit" class="btn btn-common w-100">{{ _('form:contact:submit') }}</button>
					</div>
				</div>
			</div>
		</form>
		<div class="alert alert-success hide">{{ _('form:contact:thank_you_message') }}</div>
	</div>
</div>
