
<footer>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-12 col-xs-12">
				<div class="form-subscribe subscribe-inner wow fadeInDown" data-wow-delay="0.3s">
					<h2 class="subscribe-title">{{ _('newsletter:stay_up_to_date') }}</h2>
					<form class="bs-validation row justify-content-center" novalidate>
						<input class="form-control mb-2 col-xs-12 col-md-8" name="email" placeholder="{{ _('newsletter:form:email') }} *" pattern="^.+@.+\..+$" required>
						<button type="submit" class="btn btn-common col-xs-12 col-md-4 mx-4 mb-1" data-style="zoom-in" data-spinner-size="30" name="submit" id="submit">
							<span class="text-nowrap">{{ _('newsletter:form:submit') }}</span>
						</button>
						<div class="col-12">
							<p class="text-left">
								<!-- TODO: Do newsletter legal text multilanguage -->
								<small>Your data will be processed by FUNDACIÓN AYUDA EFECTIVA to send you
								the newsletter and event notifications. You can exercise your rights 
								through the following email info @ ayudaefectiva.org, identifying yourself
								as a subscriber to the effectivegivingday.org newsletter and 
								specifying your request. For more information about the treatment of 
								your data and your rights, please consult the 
								<a href="{{ url_lang }}/privacy">privacy clause</a>.</small>
							</p>
							<div class="custom-control custom-checkbox">
								<input class="custom-control-input" name="accepted" type="checkbox" id="form-subscribe-conditions" required>
								<label class="custom-control-label text-left" for="form-subscribe-conditions">
									I have read and accept the processing of my personal data for the described purpose *
									{#<!-- {{ _('form:i_have_read_and_agree') }}
									(<a href="{{ url_lang }}/privacy-newsletter" target="_blank">{{ _('link:view') }}</a>) -->#}
								</label>
							</div>
						</div>
					</form>
					<div class="alert alert-success hide">{{ _('newsletter:form:submitted_successfully_message') }}</div>
				</div>
				<div class="footer-logo">
					<img src="/assets/egd_site/images/effective-giving-day-logo-inverted.svg" alt="">
				</div>
				<div class="site-info">
					<a href="{{ url_lang }}/legal">{{ _('link:legal') }}</a>
					/ <a href="{{ url_lang }}/privacy">{{ _('link:privacy') }}</a>
					/ <a href="{{ url_lang }}/cookies">{{ _('link:cookies') }}</a>
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- Go to Top Link -->
<a href="#" class="back-to-top">
	<i class="lni-chevron-up"></i>
</a>

<div id="preloader">
	<div class="sk-circle">
		<div class="sk-circle1 sk-child"></div>
		<div class="sk-circle2 sk-child"></div>
		<div class="sk-circle3 sk-child"></div>
		<div class="sk-circle4 sk-child"></div>
		<div class="sk-circle5 sk-child"></div>
		<div class="sk-circle6 sk-child"></div>
		<div class="sk-circle7 sk-child"></div>
		<div class="sk-circle8 sk-child"></div>
		<div class="sk-circle9 sk-child"></div>
		<div class="sk-circle10 sk-child"></div>
		<div class="sk-circle11 sk-child"></div>
		<div class="sk-circle12 sk-child"></div>
	</div>
</div>
