
<header id="header-wrap">
	<nav class="navbar navbar-expand-lg bg-inverse fixed-top scrolling-navbar top-nav-collapse">
		<div class="container">
			<div class="theme-header clearfix">
				<a href="{{ "/" if lang == "en" else "/"+lang }}" class="navbar-brand">
					<img src="/assets/egd_site/images/effective-giving-day-logo.svg" alt="">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<i class="lni-menu"></i>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav mr-auto w-100 justify-content-end">
						<li class="nav-item">
							<a class="nav-link" href="{{ "/" if lang == "en" else "/"+lang }}">{{ _('link:home') }}</a>
						</li>
						{#<!-- <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Pages
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="about.html">About Us</a></li>
							</ul>
						</li> -->#}
						<li class="nav-item">
							<a class="nav-link" href="{{ url_lang }}/agenda">{{ _('link:agenda') }}</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_lang }}/speakers">{{ _('link:speakers') }}</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_lang }}/register">{{ _('link:register') }}</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_lang }}/press">{{ _('link:press') }}</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_lang }}/contact-us">{{ _('link:contact') }}</a>
						</li>
						<li class="nav-item">
							<span class="navbar-text">·</span>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_lang }}/get-involved">{{ _('link:get_involved') }}</a>
						</li>
						{# IMPORTANTE!!!! HABILITAR link rel="alternate" en base.html
						<li class="nav-item">
							<span class="navbar-text">·</span>
						</li>
						<!-- <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Language:
							</a>
							<ul class="dropdown-menu">
								{% for language in languages_meta %}
								<li class="nav-item{% if language.code == lang %} selected{% endif %}">
									<a class="nav-link language" href="{{ language.url }}">{{ language.code|upper }}</a>
								</li>
								{% endfor %}
							</ul>
						</li> -->
						{% for language in languages_meta %}
						<li class="nav-item{% if language.code == lang %} selected{% endif %}">
							<a class="nav-link language" href="{{ language.url }}">{{ language.code|upper }}</a>
						</li>
						{% endfor %}
						#}
					</ul>
				</div>
			</div>
		</div>
		<div class="mobile-menu" data-logo="/assets/egd_site/images/effective-giving-day-logo.svg"></div>
	</nav>

	{% block hero %}{% endblock %}

</header>
