
<div id="hero-area" class="hero-area-bg">
	<div class="overlay"></div>
	<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-9 col-sm-12">
		<div class="contents text-center">
			<div class="icon">
				<i class="lni-mic"></i>
			</div>
			<p class="banner-info">Place, Nov 2020 - Lorem lorem, Internet</p>
			<h2 class="head-title">{{ _('EFFECTIVE GIVING DAY') }}</h2>
			<p class="banner-desc">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, nobis nesciunt atque perferendis, ipsa doloremque deserunt cum qui.</p>
			<div class="banner-btn">
				<a href="{{ url_lang }}/register" class="btn btn-common">{{ _('REGISTER NOW') }}</a>
			</div>
		</div>
		</div>
	</div>
	</div>
</div>
