
<div id="hero-area" class="hero-area-bg">
	<div class="overlay"></div>
	<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-9 col-sm-12">
		<div class="contents text-center">
			<div class="icon">
				<i class="lni-mic"></i>
			</div>
			<p class="banner-info">
				{{ _('hero:place_date_extra_date') }} 
				<span class="mx-2">·</span>
				<a href="https://time.is/0645PM_30_Nov_2020_in_CET?Effective_Giving_Day"
					target="_blank">{{ _('hero:place_date_extra_time') }}</a> 
				<span class="mx-2">·</span>
				{{ _('hero:place_date_extra_place') }}
			</p>
			<h2 class="head-title">{{ _('hero:title') }}</h2>
			<p class="banner-desc">{{ _('hero:intro') }}</p>
			<div class="banner-btn">
				<a href="{{ url_lang }}/register" class="btn btn-common">{{ _('hero:register_button') }}</a>
			</div>
		</div>
		</div>
	</div>
	</div>
</div>
