
<section id="sponsors" class="section-padding">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title-header text-center">
					<h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Organized by</h2>
					<!-- <p class="wow fadeInDown" data-wow-delay="0.2s">Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem an <br> cule dicta iriure at phaedrum.</p> -->
				</div>
			</div>
		</div>
		<div class="row mb-30 text-center wow fadeInDown" data-wow-delay="0.3s">
			<div class="col-lg-12">
				<div class="sponsors-logo text-center">
					<a href="https://ayudaefectiva.org" target="_blank">
						<img src="/assets/egd_site/images/partners/ae.svg" alt="Ayuda Efectiva">
					</a>
					<a href="https://effectivealtruism.org.au/" target="_blank">
						<img src="/assets/egd_site/images/partners/eaa.png" alt="Effective Altruism Australia">
					</a>
					<a href="https://www.effektiv-spenden.org/" target="_blank">
						<img src="/assets/egd_site/images/partners/es.png" alt="Effektiv Spenden">
					</a>
					<a href="https://www.givingwhatwecan.org/" target="_blank">
						<img src="/assets/egd_site/images/partners/gwwc.jpg" alt="Giving What We Can">
					</a>
					<a href="https://www.1fortheworld.org" target="_blank">
						<img src="/assets/egd_site/images/partners/oftw.png" alt="One for the World">
					</a>
					<a href="https://rcforward.org" target="_blank">
						<img src="/assets/egd_site/images/partners/rcf.png" alt="RC Forward">
					</a>
					<a href="https://www.thelifeyoucansave.org" target="_blank">
						<img src="/assets/egd_site/images/partners/tlycs.svg" alt="The Life You Can Save">
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="section-title-header text-center">
					<h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Supported by</h2>
					<!-- <p class="wow fadeInDown" data-wow-delay="0.2s">Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem an <br> cule dicta iriure at phaedrum.</p> -->
				</div>
			</div>
		</div>
		<div class="row mb-30 text-center wow fadeInDown" data-wow-delay="0.3s">
			<div class="col-lg-12">
				<div class="sponsors-logo text-center">
					<a href="https://animalcharityevaluators.org" target="_blank">
						<img src="/assets/egd_site/images/partners/s_ace.png" alt="Animal Charity Evaluators">
					</a>
					<a href="https://app.effectivealtruism.org/funds" target="_blank">
						<img src="/assets/egd_site/images/partners/s_eaf.svg" alt="Effective Altruism Funds">
					</a>
					<a href="https://founderspledge.com" target="_blank">
						<img src="/assets/egd_site/images/partners/s_fp.png" alt="Founders Pledge">
					</a>
					<a href="https://www.givewell.org" target="_blank">
						<img src="/assets/egd_site/images/partners/s_gw.png" alt="Give Well">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
