
<div class="row">
	<div class="form-group col-lg-4">
		<label for="press-country-selector">{{ _('register:form:select_country') }}</label>
		<select id="press-country-selector" class="custom-select select-countries" name="country">
			<option selected disabled value=""></option>
		</select>
	</div>
</div>

<div id="press-contact-items">
	<div class="item collapse" id="contact-biggers" data-parent="#press-contact-items">
		<div class="card card-body">
			<h3>Eva García Almazán</h3>
			<p>eva.garcia<img src="/assets/egd_site/images/e.png">biggers<span>.</span>es</p>
			<p>(+34) 777 77 77 77</p>
		</div>
	</div>
	<div class="item collapse" id="contact-1fortheworld" data-parent="#press-contact-items">
		<div class="card card-body">
			<h3>Jack Lewars</h3>
			<p>jack<img src="/assets/egd_site/images/e.png">1fortheworld<span>.</span>org</p>
			<p>(+1) 929 509 1496</p>
		</div>
	</div>
	<div class="item collapse" id="contact-givingwhatwecan" data-parent="#press-contact-items">
		<div class="card card-body">
			<h3>Jack Lewars</h3>
			<p>luke.freeman<img src="/assets/egd_site/images/e.png">givingwhatwecan<span>.</span>org</p>
		</div>
	</div>
	<div class="item collapse" id="contact-effektiv-spenden" data-parent="#press-contact-items">
		<div class="card card-body">
			<h3>Sebastian Schwiecker</h3>
			<p>sebastian.schwiecker<img src="/assets/egd_site/images/e.png">effektiv-spenden<span>.</span>org</p>
			<p>(+49) 30/26035519</p>
		</div>
	</div>
	<div class="item collapse" id="contact-default" data-parent="#press-contact-items">
		<div class="card card-body">
			<h3>TODO: Define default contact???</h3>
		</div>
	</div>
</div>

<script>

// TODO: Define default contact ???

frappe.ready(function() {
	const contact_by_country = {
		'US': '1fortheworld',
		'CA': '1fortheworld',
		'GB': '1fortheworld',
		'ES': 'biggers',
		'DE': 'effektiv-spenden',
		'AU': 'effektiv-spenden',
		'CH': 'effektiv-spenden',
		'AU': 'givingwhatwecan',
	}
	const $press_country_selector = $('#press-country-selector')
	$press_country_selector.on('change', function() {
		let country = $press_country_selector.val()
		if (typeof contact_by_country[country] != 'undefined') {
			$(`#contact-${contact_by_country[country]}`).collapse('show')
		} else {
			$(`#contact-default`).collapse('show')
		}
	})
})
</script>
