
<div class="container-form wow fadeInLeft" data-wow-delay="0.2s">
	<div class="form-wrapper form-registration">
		<form class="bs-validation" novalidate>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<input type="text" class="form-control" name="firstname" placeholder="{{ _('Name') }}" required>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<input type="text" class="form-control" name="lastname" placeholder="{{ _('Last name') }}" required>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<input type="email" class="form-control" name="email" placeholder="{{ _('Email') }}" pattern="^.+@.+\..+$" required>
					</div> 
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<select class="custom-select select-countries" name="country" required>
							<option selected disabled value="">{{ _('Select your country') }}</option>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<select class="custom-select" name="occupation" required>
							<option selected disabled value="">{{ _('Select your occupation') }}</option>
							<option value="student">{{ _('Student') }}</option>
							<option value="professional">{{ _('Professional') }}</option>
							<option value="other">{{ _('Any others') }}</option>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<input type="text" class="form-control" name="organization" placeholder="{{ _('Organization') }}" required>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<input type="text" class="form-control" name="title" placeholder="{{ _('Title') }}" required>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="effective_charities_donations_in_usd">How much (if anything) do you currently give per year to ‘effective charities’ (as defined by the effective giving movement)? (USD)</label>
						<input type="number" class="form-control" name="effective_charities_donations_in_usd" value="0" id="effective_charities_donations_in_usd">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="familiarity">How familiar are you with the effective giving movement?</label>
						<select class="custom-select" name="familiarity" id="familiarity">
							<option selected disabled value="">{{ _('Select one option') }}</option>
							<option value="0">{{ _('Not familiar at all') }}</option>
							<option value="1">{{ _('A bit familiar') }}</option>
							<option value="2">{{ _('Quite familiar') }}</option>
							<option value="3">{{ _('Very familiar') }}</option>
						</select>
					</div>
				</div>
				<div class="col-12">
					<div class="form-group">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="accepted" id="form-conditions" required>
							<label class="form-check-label" for="form-conditions">
								{{ _('I have read and agree with the Privacy statement') }}:
								<a href="{{ url_lang }}/privacy" target="_blank">{{ _('Privacy') }}</a>
							</label>
						</div>
					</div>
					<div class="form-submit">
						<button type="submit" class="btn btn-common w-100">{{ _('Register') }}</button>
					</div>
				</div>
			</div>
		</form>
		<div class="alert alert-success hide">{{ _('Thank you, we will contact you back asap.') }}</div>
	</div>
</div>
