
<div class="container-form wow fadeInLeft" data-wow-delay="0.2s">
	<div class="form-wrapper form-registration">
		<form class="bs-validation" novalidate>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<input type="text" class="form-control" name="firstname" placeholder="{{ _('form:first_name') }}" required>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<input type="text" class="form-control" name="lastname" placeholder="{{ _('form:last_name') }}" required>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<input type="email" class="form-control" name="email" placeholder="{{ _('form:email') }}" pattern="^.+@.+\..+$" required>
					</div> 
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<select class="custom-select select-countries" name="country" required>
							<option selected disabled value="">{{ _('register:form:select_country') }}</option>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<select class="custom-select" name="occupation" required>
							<option selected disabled value="">{{ _('register:form:select_occupation') }}</option>
							<option value="student">{{ _('register:form:occupation:student') }}</option>
							<option value="professional">{{ _('register:form:occupation:professional') }}</option>
							<option value="other">{{ _('register:form:occupation:other') }}</option>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<input type="text" class="form-control" name="organization" placeholder="{{ _('register:form:organization') }}" required>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<input type="text" class="form-control" name="title" placeholder="{{ _('register:form:organization_title') }}" required>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="familiarity">{{ _('register:form:familiarity:question') }}</label>
						<select class="custom-select" name="familiarity" id="familiarity">
							<option selected disabled value="">{{ _('form:select_option') }}</option>
							<option value="0">{{ _('register:form:familiarity:not_familiar') }}</option>
							<option value="1">{{ _('register:form:familiarity:a_bit_familiar') }}</option>
							<option value="2">{{ _('register:form:familiarity:quite_familiar') }}</option>
							<option value="3">{{ _('register:form:familiarity:very_familiar') }}</option>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="effective_charities_donations_in_usd">{{ _('register:form:donation:question') }}</label>
						<input type="number" class="form-control" name="effective_charities_donations_in_usd" value="0" id="effective_charities_donations_in_usd">
					</div>
				</div>
				<div class="col-12">
					<div class="form-group">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="accepted" id="form-conditions" required>
							<label class="form-check-label" for="form-conditions">
								{{ _('form:i_have_read_and_agree') }}
								<a href="{{ url_lang }}/privacy" target="_blank">{{ _('link:privacy') }}</a>
							</label>
						</div>
					</div>
					<div class="form-submit">
						<button type="submit" class="btn btn-common w-100">{{ _('register:form:submit') }}</button>
					</div>
				</div>
			</div>
		</form>
		<div class="alert alert-success hide">{{ _('register:form:submitted_successfully_message') }}</div>
	</div>
</div>
