
<section id="about" class="section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-xs-12">
				<div class="img-thumb">
					<img class="img-fluid" src="/assets/egd_site/template/img/about/img1.png" alt="">
				</div>
			</div>
			<div class="col-lg-6 col-md-12 col-xs-12">
				<div class="about-content">
					<div>
						<div class="about-text">
							<h2>{{ _('section:about:title') }}</h2>
							<p>{{ _('section:about:intro') }}</p>
						</div>
						<ul class="stylish-list mb-3">
							<li><i class="lni-check-mark-circle"></i>{{ _('section:about:list:1') }}</li>
							<li><i class="lni-check-mark-circle"></i>{{ _('section:about:list:2') }}</li>
							<li><i class="lni-check-mark-circle"></i>{{ _('section:about:list:3') }}</li>
							<li><i class="lni-check-mark-circle"></i>{{ _('section:about:list:4') }}</li>
						</ul>
						<a class="btn btn-common" href="{{ url_lang }}/agenda">{{ _('common:read_more') }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
