
<section id="about" class="section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-xs-12">
				<div class="mr-lg-4">
					<img class="img-fluid rounded-lg" src="/assets/egd_site/images/malaria_consortium.jpg" alt="Malaria Consortium action">
					<small class="text-muted">(credit: Malaria Consortium)</small>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 col-xs-12">
				<div class="about-content">
					<div>
						<div class="about-text">
							<h2>{{ _('section:about:title') }}</h2>
							<p>{{ _('section:about:intro') }}</p>
						</div>
						<ul class="stylish-list mb-3">
							<li><i class="lni-checkmark-circle"></i>{{ _('section:about:list:1') }}</li>
							<li><i class="lni-checkmark-circle"></i>{{ _('section:about:list:2') }}</li>
							<li><i class="lni-checkmark-circle"></i>{{ _('section:about:list:3') }}</li>
							{#<!-- <li><i class="lni-checkmark-circle"></i>{{ _('section:about:list:4') }}</li> -->#}
						</ul>
						{#<!-- <a class="btn btn-common" href="{{ url_lang }}/agenda">{{ _('link:read_more') }}</a> -->#}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
