
<div class="container">
	<div class="row justify-content-bt">

		<div class="col-12">
			<div class="team-item wow fadeInUp" data-wow-delay="0.2s">
				<div class="row">
					<div class="col-lg-3 col-sm-4 col-12">
						<div class="team-img">
							<img class="img-fluid" src="/assets/egd_site/images/speakers/kremer.jpg" alt="">
						</div>
					</div>
					<div class="col-lg-9 col-sm-8 col-12 text-left">
						<div class="info-text">
							<h3>Michael Kremer</h3>
							<p><strong>University Professor in Economics and the College and the Harris School of Public Policy,
								Director of the Development Innovation Lab, University of Chicago</strong>. 
								<strong>Nobel Prize winner</strong>.</p>
							<p>Professor Michael Kremer is one of the world’s most influential development economists.
								Prof. Kremer pioneered the use of randomised control trials to measure the impact of 
								interventions and identify practical solutions which can benefit low-income people 
								in developing countries. He has produced some of the most influential research in 
								the field, notably a 20-year study showing the lasting positive effects of school-based 
								deworming programmes, the development of new approaches to water treatment, and a 
								series of studies showing how digitally delivered agricultural advice can cost-effectively 
								improve outcomes for smallholder farmers.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-xs-12">
			<div class="team-item wow fadeInUp" data-wow-delay="0.2s">
				<div class="team-img">
					<img class="img-fluid" src="/assets/egd_site/images/speakers/n.buddy.shah.jpg" alt="">
				</div>
				<div class="info-text">
					<h3>Neil Buddy Shah</h3>
					<p><strong>GiveWell, Managing Director</strong></p>
					<p>GiveWell is a nonprofit dedicated to finding outstanding giving opportunities and 
						publishing the full details of our analysis to help donors decide where to give.</p>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-xs-12">
			<div class="team-item wow fadeInUp" data-wow-delay="0.2s">
				<div class="team-img">
					<img class="img-fluid" src="/assets/egd_site/images/speakers/l.edgerton.jpg" alt="">
				</div>
				<div class="info-text">
					<h3>Leah Edgerton</h3>
					<p><strong>Animal Charity Evaluators, Executive Director</strong></p>
					<p>Animal Charity Evaluators is a non-profit charity evaluator dedicated 
						to finding and promoting the most effective ways to help animals.</p>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-xs-12">
			<div class="team-item wow fadeInUp" data-wow-delay="0.2s">
				<div class="team-img">
					<img class="img-fluid" src="/assets/egd_site/images/speakers/j.ackva.jpg" alt="">
				</div>
				<div class="info-text">
					<h3>Johannes Ackva</h3>
					<p><strong>Founders Pledge, Climate Lead</strong></p>
					<p>Founders Pledge is a global community of entrepreneurs with the goal of 
						finding and funding solutions to the world’s most pressing problems.</p>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-xs-12">
			<div class="team-item wow fadeInUp" data-wow-delay="0.2s">
				<div class="team-img">
					<img class="img-fluid" src="/assets/egd_site/images/speakers/c.bresler.jpg" alt="">
				</div>
				<div class="info-text">
					<h3>Charlie Bresler</h3>
					<p><strong>The Life You Can Safe, Executive Director</strong></p>
					<p>The Life You Can Safe makes “smart giving simple” by curating a 
						group of nonprofits that save or improve the most lives per dollar.</p>
				</div>
			</div>
		</div>


		{% if name != "home" %}


		<div class="col-lg-3 col-md-6 col-xs-12">
			<div class="team-item wow fadeInUp" data-wow-delay="0.2s">
				<div class="team-img">
					<img class="img-fluid" src="/assets/egd_site/images/speakers/siobhan.jpg" alt="">
				</div>
				<div class="info-text">
					<h3><a href="#">Siobhan Brenton</a></h3>
					<p><strong>RC Forward, Manager of Operations</strong></p>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-xs-12">
			<div class="team-item wow fadeInUp" data-wow-delay="0.2s">
				<div class="team-img">
					<img class="img-fluid" src="/assets/egd_site/images/speakers/j.lewars.jpg" alt="">
				</div>
				<div class="info-text">
					<h3><a href="#">Jack Lewars</a></h3>
					<p><strong>One for the World, Executive Director</strong></p>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-xs-12">
			<div class="team-item wow fadeInUp" data-wow-delay="0.2s">
				<div class="team-img">
					<img class="img-fluid" src="/assets/egd_site/images/speakers/p.melchor.jpg" alt="">
				</div>
				<div class="info-text">
					<h3><a href="#">Pablo Melchor</a></h3>
					<p><strong>Ayuda Efectiva, President</strong></p>
					<p>Ayuda Efectiva has the mission of developing effective giving in Spain. 
						Their Global Health Fund selects and supports the projects that improve 
						the lives of people living in extreme poverty in the most cost-effective ways.</p>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-xs-12">
			<div class="team-item wow fadeInUp" data-wow-delay="0.2s">
				<div class="team-img">
					<img class="img-fluid" src="/assets/egd_site/images/speakers/s.schwiecker.jpg" alt="">
				</div>
				<div class="info-text">
					<h3><a href="#">Sebastian Schwiecker</a></h3>
					<p><strong>effektiv-spenden.org, Executive Director</strong></p>
				</div>
			</div>
		</div>


		{% endif %}
	</div>
</div>
