
<div class="container">
	<div class="row justify-content-bt">

		<div class="col-12">
			<div class="team-item wow fadeInUp" data-wow-delay="0.2s">
				<div class="row">
					<div class="col-lg-3 col-sm-4 col-12">
						<div class="team-img">
							<img class="img-fluid"
								src="/assets/egd_site/images/speakers/kremer.jpg">
						</div>
					</div>
					<div class="col-lg-9 col-sm-8 col-12 text-left">
						<div class="info-text">
							<h3>Michael Kremer</h3>
							<p>{{ _('speakers:1:intro') }}</p>
							<p>{{ _('speakers:1:description') }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-xs-12">
			<div class="team-item wow fadeInUp" data-wow-delay="0.2s">
				<div class="team-img">
					<img class="img-fluid"
						src="/assets/egd_site/images/speakers/n.buddy.shah.jpg">
				</div>
				<div class="info-text">
					<h3>Neil Buddy Shah</h3>
					<p><strong>{{ _('speakers:2:intro') }}</strong></p>
					<p>{{ _('speakers:2:description') }}</p>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-xs-12">
			<div class="team-item wow fadeInUp" data-wow-delay="0.2s">
				<div class="team-img">
					<img class="img-fluid"
						src="/assets/egd_site/images/speakers/l.edgerton.jpg">
				</div>
				<div class="info-text">
					<h3>Leah Edgerton</h3>
					<p><strong>{{ _('speakers:3:intro') }}</strong></p>
					<p>{{ _('speakers:3:description') }}</p>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-xs-12">
			<div class="team-item wow fadeInUp" data-wow-delay="0.2s">
				<div class="team-img">
					<img class="img-fluid"
						src="/assets/egd_site/images/speakers/j.ackva.jpg">
				</div>
				<div class="info-text">
					<h3>Johannes Ackva</h3>
					<p><strong>{{ _('speakers:4:intro') }}</strong></p>
					<p>{{ _('speakers:4:description') }}</p>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-xs-12">
			<div class="team-item wow fadeInUp" data-wow-delay="0.2s">
				<div class="team-img">
					<img class="img-fluid"
						src="/assets/egd_site/images/speakers/c.bresler.jpg">
				</div>
				<div class="info-text">
					<h3>Charlie Bresler</h3>
					<p><strong>{{ _('speakers:5:intro') }}</strong></p>
					<p>{{ _('speakers:5:description') }}</p>
				</div>
			</div>
		</div>


		{% if name != "home" %}


		<div class="col-lg-3 col-md-6 col-xs-12">
			<div class="team-item wow fadeInUp" data-wow-delay="0.2s">
				<div class="team-img">
					<img class="img-fluid"
						src="/assets/egd_site/images/speakers/siobhan.jpg">
				</div>
				<div class="info-text">
					<h3>Siobhan Brenton</h3>
					<p><strong>{{ _('speakers:6:intro') }}</strong></p>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-xs-12">
			<div class="team-item wow fadeInUp" data-wow-delay="0.2s">
				<div class="team-img">
					<img class="img-fluid"
						src="/assets/egd_site/images/speakers/j.lewars.jpg">
				</div>
				<div class="info-text">
					<h3>Jack Lewars</h3>
					<p><strong>{{ _('speakers:7:intro') }}</strong></p>
					<p>{{ _('speakers:7:description') }}</p>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-xs-12">
			<div class="team-item wow fadeInUp" data-wow-delay="0.2s">
				<div class="team-img">
					<img class="img-fluid"
						src="/assets/egd_site/images/speakers/p.melchor.jpg">
				</div>
				<div class="info-text">
					<h3>Pablo Melchor</h3>
					<p><strong>{{ _('speakers:8:intro') }}</strong></p>
					<p>{{ _('speakers:8:description') }}</p>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-xs-12">
			<div class="team-item wow fadeInUp" data-wow-delay="0.2s">
				<div class="team-img">
					<img class="img-fluid"
						src="/assets/egd_site/images/speakers/s.schwiecker.jpg">
				</div>
				<div class="info-text">
					<h3>Sebastian Schwiecker</h3>
					<p><strong>{{ _('speakers:9:intro') }}</strong></p>
					<p>{{ _('speakers:9:description') }}</p>
				</div>
			</div>
		</div>


		{% endif %}
	</div>
</div>
