
<div class="container">
	<div class="row justify-content-bt">

		<div class="col-lg-3 col-md-6 col-xs-12">
			<div class="team-item wow fadeInUp" data-wow-delay="0.2s">
				<div class="team-img">
					<img class="img-fluid" src="/assets/egd_site/images/speakers/p.melchor.jpg" alt="">
					<div class="team-overlay">
						<div class="overlay-social-icon text-center">
							<ul class="social-icons">
								<!-- TODO: Speakers social links (twitter, fb, pinterest? -->
								<li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="lni-google" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="lni-pinterest" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="info-text">
					<h3><a href="#">Pablo Melchor</a></h3>
					<p><strong>Ayuda Efectiva</strong>, President</p>
					<p>Ayuda Efectiva has the mission of developing effective giving in Spain. Their Global Health Fund selects and supports the projects that improve the lives of people living in extreme poverty in the most cost-effective ways.</p>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-xs-12">
			<div class="team-item wow fadeInUp" data-wow-delay="0.2s">
				<div class="team-img">
					<img class="img-fluid" src="/assets/egd_site/images/speakers/j.lewars.jpg" alt="">
					<div class="team-overlay">
						<div class="overlay-social-icon text-center">
							<ul class="social-icons">
								<li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="lni-google" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="lni-pinterest" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="info-text">
					<h3><a href="#">Jack Lewars</a></h3>
					<p><strong>One for the World</strong>, Executive Director</p>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-xs-12">
			<div class="team-item wow fadeInUp" data-wow-delay="0.2s">
				<div class="team-img">
					<img class="img-fluid" src="/assets/egd_site/images/speakers/s.schwiecker.jpg" alt="">
					<div class="team-overlay">
						<div class="overlay-social-icon text-center">
							<ul class="social-icons">
								<li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="lni-google" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="lni-pinterest" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="info-text">
					<h3><a href="#">Sebastian Schwiecker</a></h3>
					<p><strong>effektiv-spenden.org</strong>, Executive Director</p>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-xs-12">
			<div class="team-item wow fadeInUp" data-wow-delay="0.2s">
				<div class="team-img">
					<img class="img-fluid" src="/assets/egd_site/images/speakers/j.ackva.jpg" alt="">
					<div class="team-overlay">
						<div class="overlay-social-icon text-center">
							<ul class="social-icons">
								<li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="lni-google" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="lni-pinterest" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="info-text">
					<h3><a href="#">Johannes Ackva</a></h3>
					<p><strong>Founders Pledge</strong>, Climate Lead</p>
					<p>Founders Pledge is a global community of entrepreneurs with the 
						goal of finding and funding solutions to the world’s most pressing problems.</p>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-xs-12">
			<div class="team-item wow fadeInUp" data-wow-delay="0.2s">
				<div class="team-img">
					<img class="img-fluid" src="/assets/egd_site/images/speakers/l.edgerton.jpg" alt="">
					<div class="team-overlay">
						<div class="overlay-social-icon text-center">
							<ul class="social-icons">
								<li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="lni-google" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="lni-pinterest" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="info-text">
					<h3><a href="#">Leah Edgerton</a></h3>
					<p><strong>Animal Charity Evaluators</strong>, Executive Director</p>
					<p>Animal Charity Evaluators is a non-profit charity evaluator dedicated 
						to finding and promoting the most effective ways to help animals.</p>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-xs-12">
			<div class="team-item wow fadeInUp" data-wow-delay="0.2s">
				<div class="team-img">
					<img class="img-fluid" src="/assets/egd_site/images/speakers/n.buddy.shah.png" alt="">
					<div class="team-overlay">
						<div class="overlay-social-icon text-center">
							<ul class="social-icons">
								<li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="lni-google" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="lni-pinterest" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="info-text">
					<h3><a href="#">Neil Buddy Shah</a></h3>
					<p><strong>GiveWell</strong>, Managing Director</p>
					<p>GiveWell is a nonprofit dedicated to finding outstanding 
						giving opportunities and publishing the full details of our 
						analysis to help donors decide where to give.</p>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-xs-12">
			<div class="team-item wow fadeInUp" data-wow-delay="0.2s">
				<div class="team-img">
					<img class="img-fluid" src="/assets/egd_site/images/speakers/c.bresler.jpg" alt="">
					<div class="team-overlay">
						<div class="overlay-social-icon text-center">
							<ul class="social-icons">
								<li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="lni-google" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="lni-pinterest" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="info-text">
					<h3><a href="#">Charlie Bresler</a></h3>
					<p><strong>The Life You Can Safe</strong>, Executive Director</p>
					<p>The Life You Can Safe makes “smart giving simple” by curating 
						a group of nonprofits that save or improve the most lives per dollar.</p>
				</div>
			</div>
		</div>
 
	</div>
</div>
