{% extends base_template_path %}


{% block content %}

	{% block header %}
		{% include "templates/includes/header.html" %}
	{% endblock -%}

	{% block page_container %}

	<div class="page-header">
		<div class="container"> 
			<div class="row">
				<div class="col-12">
					<div class="page-header-inner text-center">
						{# <!-- <h1 class="page-title">{{ title }}</h1> --> #}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<section class="page-content section-padding">
		<div class="container">
			<div class="row">
				<div class="col-12">
					{% block page_content -%}
						{% if main_section %}
						<div class="web-page-content">{{ main_section }}</div>
						{% endif %}
					{%- endblock %}
				</div>
			</div>
		</div>
	</section>

	{% endblock %}

	{% block footer %}
		{% include "templates/includes/footer.html" %}
	{% endblock %}

{% endblock %}
