
// LINEICONS
$lni-font-path: "/assets/egd_site/fonts/line-icons";
@import "line-icons/main";
[class^="lni-"], [class*=" lni-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'LineIcons' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


// <BASE TEMPLATE STYLES
// Current Preset color
$color-main: #1b5266;
$preset: $color-main;

// @import "../template/css/colors/purple";
@import "../template/css/slicknav.min";
@import "../template/css/animate";

// Global Styles
@import "../template/scss/global";

// Navbar
@import "../template/scss/navbar";

// About US Area
@import "../template/scss/about";

// Schedule Areax
@import "../template/scss/schedule";

// Service Area
@import "../template/scss/service";

// Portfolio Area
@import "../template/scss/portfolio";

// Team Area
@import "../template/scss/team";

// Blog Area
// @import "../template/scss/blog";

// Contact Area
// @import "../template/scss/contact";

// Contact Area
@import "../template/scss/footer";

// Shortcode
@import "../template/scss/shortcode";

// Responsive
@import "../template/scss/responsive";

// BASE TEMPLATE STYLES>


// GLOBAL
.hide {
	display: none;
}


// NAVBAR
.navbar {
	.nav-item {
		&.selected {
			.language {
				font-weight: bold !important;
			}
		}
		.nav-link {
			&.active {
				color: $color-main !important;
				font-weight: bold;
			}
		}
		.language {
			padding: 0 5px !important;
		}
	}
}


// ACCORDION CHEVRON
.card-header {
	.opener-chevron {
		transition: transform 0.35s ease-in-out;
		position: absolute;
		right: 30px;
		top: 50px;
		font-size: 25px;
	}
	// &.collapsed { }
	&:not(.collapsed) {
		.opener-chevron {
			transition: transform 0.35s ease-in-out;
			transform: rotate(90deg);
		}
	}
}


// BS FORM VALIDATION
.was-validated .form-control:valid,
.form-control.is-valid,
.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
	border-color: #ced4da;
	box-shadow: none;
	background-image: none;
}
.was-validated .form-control:invalid,
.form-control.is-invalid,
.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus,
.was-validated .custom-select:invalid,
.custom-select.is-invalid {
	background-image: none;
}


// <FRAPPE MODAL CUSTOMIZATIONS
.msgprint-dialog {
	h5 {
		font-size: 20px;
	}
}
// FRAPPE MODAL CUSTOMIZATIONS>
